* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: black;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  fill: #6d6e6f;
  font-size: 14px;
  line-height: normal;
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.s-assanaContainer {
  display: grid;
  grid-template-columns: 500px;
  width: max-content;
  box-shadow: 0 0 0 1px #edeae9, 0 1px 4px 0 rgba(109, 110, 111, 0.08);
  padding: 5px;
  border-radius: 4px;
}

.s-myPriorites {
  display: flex;
  flex-direction: column;
}
.s-headerRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid#edeae9;
  padding-left: 24px;
}
.s-myTasks {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.s-myTasks > p {
  color: #1e1f21;
}
.s-myTasks > div {
  padding: 2px;
  margin: 2px;
  display: flex;
  border-bottom: 1px solid#edeae9;
}
.s-myTasks > div > p {
  margin-top: 22px;
  margin-left: 8px;
}

.s-lockIcon {
  height: 12px;
  width: 12px;
  margin-top: 24px;
  margin-left: 8px;
  fill: #6d6e6f;
}
